<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title></title></head><body><h2>RPI setup</h2>
<h2>Index</h2>
<ul>
<li><a href="#lcdhdmisetup">7&quot; LCD HDMI Setup</a></li>
<li><a href="#pythonpackages">Python Packages</a></li>
<li><a href="#pythonscriptatstartup">Python Script at Startup</a></li>
<li><a href="#markdowneditor">Markdown Editor</a></li>
<li><a href="#hc12">Wireless HC12 Modules</a></li>
<li><a href="#qmk">QMK Keyboard Config</a></li>
</ul>
<div style="background-color:#98fc92">  
<h3>7&quot; LCD HDMI display setup <a name="lcdhdmisetup"></a></h3>
<pre><code>git clone https://github.com/goodtft/LCD-show.git
chmod -R 755 LCD-show
cd LCD-show
sudo ./LCD7C-show
</code></pre>
</div>  
<div style="background-color:#92a4fc">  
<h3>Python packages <a name="pythonpackages"></a></h3>
<pre><code>Adafruit-SSD1306
pandas
scikit-learn
xgboost
tensorflow
curses
numpy
gpiozero
bme280pi
apscheduler
Flask
dash
psutil
</code></pre>
</div>
<div style="background-color:#98fc92">  
<h3>Python script at startup <a name="pythonscriptatstartup"></a></h3>
<pre><code>crontab -e
</code></pre>
<p>Select editor and add line.</p>
<pre><code>@reboot python /path/to/script.py &amp;
</code></pre>
</div>
<div style="background-color:#92a4fc">  
<h3>Markdown editor <a name="markdowneditor"></a></h3>
<pre><code>sudo apt update
sudo apt install ghostwriter
</code></pre>
</div>
<div style="background-color:#98fc92">  
<h3>Wireless HC12 modules <a name="hc12"></a></h3>
<p>Enable serial comunication with:</p>
<pre><code>sudo raspi-config
</code></pre>
<p>Check serial port:</p>
<pre><code>dmesg | grep tty
</code></pre>
<p>Script example with HC12 comunication:</p>
<pre><code>hc12_E.py
hc12_R.py
</code></pre>
</div>
<div style="background-color:#92a4fc">  
<h3>QMK keyboard config <a name="qmk"></a></h3>
<p><strong>Keyboard flashing:</strong><br />
website: <a href="https://kbfirmware.com/">https://kbfirmware.com/</a><br />
website: <a href="http://www.keyboard-layout-editor.com/#/">http://www.keyboard-layout-editor.com/#/</a></p>
<ol>
<li>Subir el texto de custom-ccpr-keymapfile.txt</li>
<li>En kbfirmware.com editar al gusto el teclado.</li>
<li>En compile -&gt; Download .zip</li>
<li>Extraemos el zip, y en el nuevo qmk_firmware/keyboards/km/keymaps/default/keymap.c borramos todo hasta quedarnos solo en el &lt;};&gt;, por ejemplo:</li>
</ol>
<pre><code>#include &quot;kb.h&quot;

const uint16_t PROGMEM keymaps[][MATRIX_ROWS][MATRIX_COLS] = {
			KEYMAP(
				KC_ESC, KC_1, KC_2, KC_3, KC_4, KC_5, KC_6, KC_7, KC_8, KC_9, KC_0, KC_BSPC, 
				KC_TAB, KC_Q, KC_W, KC_E, KC_R, KC_T, KC_Y, KC_U, KC_I, KC_O, KC_P, KC_SLSH, 
				KC_LSFT, KC_A, KC_S, KC_D, KC_F, KC_G, KC_H, KC_J, KC_K, KC_L, KC_MINS, MO(1), 
				KC_LCTL, KC_Z, KC_X, KC_C, KC_V, KC_SPC, KC_B, KC_N, KC_M, KC_QUOT, KC_DOT, KC_ENT),
			KEYMAP(
				KC_GRV, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_LBRC, KC_RBRC, KC_TRNS, 
				KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_EQL, KC_COMM, MO(2), 
				KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_UP, KC_TRNS, 
				KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_LALT, KC_TRNS, KC_RALT, KC_APP, KC_TRNS, KC_LEFT, KC_DOWN, KC_RGHT),
			KEYMAP(
				KC_TRNS, KC_F1, KC_F2, KC_F3, KC_F4, KC_F5, KC_F6, KC_F7, KC_F8, KC_F9, KC_F10, KC_F11, 
				KC_TRNS, KC_F12, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, 
				KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, 
				KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS, KC_TRNS)

				};
</code></pre>
<ol start="5">
<li>En el nuevo qmk_firmware/keyboards/km/config.h actualizamos los pins del teensy para que cuadren (MATRIX_ROW_PINS, MATRIX_COL_PINS), por ejemplo:</li>
</ol>
<pre><code>#define MATRIX_ROW_PINS { D0, D5, B5, B6 }
#define MATRIX_COL_PINS { F1, F0, B0, C7, F4, F5, F6, F7, D4, D6, B4, D7 }
</code></pre>
<ol start="6">
<li>Cambiamos el nombre a la carpeta km por ccprfinal</li>
<li>En qmk_firmware/ ejecutamos qmk compile -kb ccprfinal -km default</li>
<li>Con el .hex generado en qmk_firmware/, falta abrir la app de teensy con ./teensy, cargar el .hex y flashearlo.</li>
<li>Listo.</li>
</ol>
</div>
</body></html>